@media (max-width: 1000px) {

.copy-container h1 {
  font-size : 50px;
}

.copy-container h2 {
  font-size: 30px;
}

}

@media (max-width: 670px) {
  .copy-container h1 {
    font-size : 50px;
  }
  
  .copy-container h2 {
    font-size: 30px;
  }
  
}
