html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Alatsi";
}

li {
  list-style: none;
}

.header {
  background-color: #556052;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list {
  float: right;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.main {
  background-image: url(https://images.pexels.com/photos/585750/pexels-photo-585750.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-size: cover;
  height: 1600px;
}

.copy-container h1 {
  font-size: 60px;
  padding-top: 150px;
}

.copy-container h2 {
  font-size: 40px
}


.contents {
  height: 500px;
  margin-top: 250px;
  padding-top: 50px;
  background-color: #CBBCB1;
}

.section-title {
  border-bottom: 2px solid #AF6B58;
  padding-bottom: 15px;
  margin-bottom: 50px;
  text-align: center;
}

.contents-item {
  float: left;
  margin-right: 40px;
  text-align: center;
}

.content-item h3 {
  margin-top: 30px;
  text-align: center;
}

.story {
  height: 300px;
  padding-top: 50px;
  text-align: center;
  background-color: #F2EFEA;
}

.contact-form {
  padding-top: 50px;
}

.section-title {
  text-align: center;
}

input, textarea {
  height: 500px;
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #AF6B58;
}

.contact-submit {
  background-color: #CBBCB1;
  color: #AF6B58;
}

.footer {
  background-color: #AF6B58;
  color: #fff;
  height: 120px;
  bottom: 0;
}

.footer-logo {
  font-size: 32px;
  float; left;
}
